<!--
        If you don't recognize some HTML tags, it's because
    I used Angular Material, checkout the app.module.ts
    file for more info about it.
-->

<div class="content">

    <div class="grid">

        <div class="section">
            <mat-label>.box</mat-label>
            <div class="box"></div>
        </div>
        
        <div class="section">
            <mat-label>.card</mat-label>
            <div class="card">
                <div class="card-header">
                    <h2>Card Example</h2>
                    <button>More info</button>
                </div>
            </div>
        </div>
    </div>
</div>
